/**
 * Style for kachur.me, the personal website of Nicholas Kachur.
 *
 * Author: Nicholas Kachur <nicholas@kachur.me>
 *
 */

/* Google Fonts for Improved Typography(tm) */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300i,400|Poiret+One';

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 40em;
    margin: 0 auto;
}

header {
    padding-top: 24px;
    padding-bottom: 12px;
    border-bottom: 0.5px solid;
}

footer {
    padding-top: 24px;
    padding-bottom: 36px;
    border-top: 0.5px solid;
}

.title {
    font-family: 'Poiret One', cursive, sans-serif;
    font-size: 48px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 0px;
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 24px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.read-more {
    font-style: normal;
    text-align: right;
}

h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 28px;
    padding-top: 12px;
    padding-bottom: 0px;
}

h2 {
    font-size: 24px; 
}

h3 {
    font-style: italic;
    font-size: 18px; 
}

h4, h5 {
    font-size: 14px; 
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    padding-top: 9px;
    padding-bottom: 9px;
}

ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    list-style: none;
    padding-left: 1em;/
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0;
}

li {
    padding-left: 0;
}

/* Adapted from http://css-snippets.com/simple-horizontal-navigation/ */
.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav li {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
}

a {
    text-decoration: none;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }

    /* Option 1 - Display Inline */
    .nav li {
        display: inline-block;
        margin-right: -4px;
    }
}


